<!DOCTYPE html>
<title>キャラ一覧</title>
<body>
<h1>キャラ一覧</h1>
<ul>
  {{!
    metalsmith-collectionsで取得したキャラクター一覧データをループ処理する
    詳細：https://handlebarsjs.com/guide/builtin-helpers.html#each
  }}
  {{#each collections.characters}}
  <li>
    {{! eachの中では、格納されているデータを直接取得できる }}
    {{! 「path」には、ファイルのパスが入っている。これは、metalsmith-collectionsが自動で追加したもの。
        そのままでは扱いにくいため、「toNetlifyURL」helperでNetlify用のURLに変更する。
        「toNetlifyURL」helperの登録処理は「index.js」内にある }}
    {{! 「data.*」には、JSONのデータが入っている }}
    <a href="/{{ toNetlifyURL path }}">{{ data.title }}</a>
    <!-- 元の「path」：{{ path }} -->
  </li>
  {{/each}}
</ul>
